body {
  background-color: #333333; 
  background-image: url("../images/pattern-bg-desktop.svg");

  .attribution {
    color: #ffffff;
    text-align: center;

    a {
      color: #ffffff;
    }
  }
}